<?xml version="1.0"?>

<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    </configSections>

    <log4net>
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%d %-5p %c:%L %m%n" />
            </layout>
        </appender>
        <appender name="LogInfoToFile" type="log4net.Appender.RollingFileAppender,log4net">
            <file value="logs/info" />
            <!--是否是向文件中追加日志-->
            <AppendToFile value="true" />
            <!--日志根据日期滚动-->
            <RollingStyle value="Date" />
            <!--日志文件名格式为:info.2021-12-30.txt-->
            <DatePattern value="'.'yyyy-MM-dd'.txt'" />
            <!--日志文件名是否是固定不变的-->
            <StaticLogFileName value="false" />
            <!--布局-->
            <layout type="log4net.Layout.PatternLayout,log4net">
                <ConversionPattern value="%d %-5p [%c] %m%n" />
            </layout>
        </appender>
        <appender name="LogErrorToFile" type="log4net.Appender.RollingFileAppender,log4net">
            <file value="logs/error" />
            <AppendToFile value="true" />
            <RollingStyle value="Date" />
            <!--日志文件名格式为:error.2021-12-30.txt-->
            <DatePattern value="'.'yyyy-MM-dd'.txt'" />
            <StaticLogFileName value="false" />
            <layout type="log4net.Layout.PatternLayout,log4net">
                <ConversionPattern value="%d %-5p [%c] %m%n" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <param name="LevelMin" value="Error" />
                <param name="LevelMax" value="Fatal" />
            </filter>
        </appender>

        <root>
            <level value="ALL" />
            <appender-ref ref="ConsoleAppender" />
            <appender-ref ref="LogInfoToFile" />
            <appender-ref ref="LogErrorToFile" />
        </root>

        <!--<logger name="ApplicationInfoLog" additivity="false">
            <level value="ALL" />
            <appender-ref ref="LogInfoToFile" />
        </logger>
        <logger name="ApplicationErrorLog" additivity="false">
            <level value="ERROR" />
            <appender-ref ref="LogErrorToFile" />
        </logger>-->

    </log4net>
</configuration>